<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
</head>
<body style="font-family: sans-serif; background-color: #F9FAFB; color: #111827;">
  <div style="padding: 2rem;">
    {{ content | safe }}
  </div>
</body>
</html>
