{% extends "base.html.j2" %}
{% block content %}
<p><strong>Password Successfully Changed</strong></p>

<p>Hi {{ username }},</p>

<p>Your account password has been successfully changed.</p>

<ul>
    <li><strong>Time:</strong> {{ timestamp }}</li>
    <li><strong>IP Address:</strong> {{ ip }}</li>
    <li><strong>Browser:</strong> {{ user_agent }}</li>
</ul>

<p>If this change was not made by you, <strong>please reset your password immediately</strong> and contact your administrator.</p>
{% endblock %}
